[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Juan Pablo Holguín Cuartas
	email = jholguin@culturasegura.com
[alias]
	arbolito = log --all --graph --decorate --oneline
	stats = shortlog -sn --all --no-merges
	tree = log --graph --decorate --all --oneline
